/* Resetando o padrão de margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.5), rgba(255, 100, 100, 0.5)), url('https://via.placeholder.com/1500x800'); /* Degrade com imagem de fundo */
  background-size: cover;
  background-position: center;
  color: #fff;
  line-height: 1.6;
  margin-top: 30px;
  backdrop-filter: blur(8px); /* Adiciona o efeito de desfoque */
}

header {
  background-color: rgba(255, 0, 0, 0.8); /* Vermelho transparente */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
  color: #f4a261;
  transform: scale(1.1);
}

/* Seções do site */
.section {
  padding: 40px 20px;
  margin: 120px auto 20px; /* Ajusta a margem para dar espaço à barra fixa */
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo transparente */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section:hover {
  transform: translateY(-10px);
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  color: #e74c3c; /* Vermelho suave */
  margin-bottom: 20px;
  text-align: center;
  transition: color 0.3s ease;
}

.section-title:hover {
  color: #f4a261;
}

.video-card, .app-card {
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.video-card:hover, .app-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.video-card iframe {
  border-radius: 10px;
}

/* Estilo dos botões */
.btn {
  display: inline-block;
  background-color: #e74c3c; /* Vermelho */
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #c0392b; /* Vermelho mais escuro */
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.8); /* Vermelho transparente */
  color: #fff;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 1px;
}
